# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
build/
dist/
*.egg-info/

# Editors & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & temp
*.log
*.tmp
*.swp

# Environment
.env
.env.*

# Data / storage outputs
app/storage/bronze/**/*.json
app/storage/silver/**/*.json
app/storage/gold/**/*.json
data/
